/* .jumbotron {
    width: 960px;
    margin: 0 auto;
}

.display-2 {
    font-family: 'Bungee Shade', cursive;
    text-align: center;
    background-color: white;
    border-radius: 5px;
}

.btn-primary {
    font-family: 'Bungee Shade', cursive;
    font-size: 36px;
} */

.h1 {
    font-size: 36px;
}